# Byte-compiled / optimized / DLL files
.ipython/
__pycache__/
.config/
.local/
.mypy_cache/
.vscode/
.pytest_cache/
.ipynb_checkpoints/
*.py[cod]
*.zip
*.parquet
*.dirlock
*.lock
errors.txt
*-checkpoint.ipynb
*.json
*.csv
!station_lookup.csv
# C extensions
*.so
*-checkpoint.ipynb
*_secret
*.html
.jupyter/
*.kmz
*-workspace
*.db
*.sqlite
*.kml

# Distribution / packaging
.Python
env/
.venv*/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Code editors
.idea/
